.consultheader{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-left: 30%;
    font-weight: bold;
    color: black;
}
.groupclasses{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    margin-top:20px ;
}

.consultexplantion{
    word-wrap: break-word; 
    display: inline-block;
    font-size: 20px;
    padding-left: 30px;
    width: 50%;
    height:40% ;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: skyblue;
    margin-top: 40px;
}
.classesgroup{
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.everythingclasses{
    display: flex;
    margin-top: 60px;
    background-color: skyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.classgroupparagrapgh{
    word-wrap: break-word; 
    display: inline-block;
    font-size: 20px;

}

.everythinggroup{
    margin-left: 10%;
    
}

.classesimage{
    margin-left: 20px;
    margin-right: 20px;
}

.classgroupparagrapgh{
    margin-top: 20px;
}

.everythingprepcourse{
    margin-left: 10%;
    background-color: grey;
    width: 50%;
    height:40% ;
    color: white;

}
.prepcourse{
    font-size: 50px;
    font-weight: bold;
}
.everythingprep{
    font-size: 30px;
}

