  
    .Serve{
      background-color: rgb(49, 101, 150);
      color: white;
    }
    .para1{
      font-size: 20px;
      display: block;
    word-wrap: break-word;
    }
    .introduction2{
      /* display: flex; */
      height:400px;
      width: 500px;
    }
  
  /* .service{
    display: flex;
    color:white;
    
  }

  .fitnessheader{
    text-align: center;
    font-size: 70px;
    color: white;
  }
  .Serve{
    background-color: black;
  }
  .headings{
    justify-content: center;
    padding:10px ;
  }
  .programs{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.2rem;
  }
  .programs-header{
    display:flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;

  } */