  
    .Serve{
      color: black;

    }
    .para1{
      font-size: 20px;
      display: block;
    word-wrap: break-word;
    }
    .intorduction2{
      /* display: flex; */
      height:400px;
      width: 500px;
      padding: 100px 100px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
     
      /* color :white; */
      
    }
    .expl{
      border: 3px solid black;
      background-color: white;
      color:black;

    }
    .gymservices{
      background-color: white;
    }
    .intorduct{
     background-color: rgb(49, 101, 150);
     display: flex;
    }
    .Schedule{
      background-color: #1d25bd; 
      border: none;
      color: white;
      padding: 15px 32px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top:50px ;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      margin-left: 40%;
    }
    .positive{
      font-size: 20px;
      margin-left: 70px;
    }

    .communitypara{
      height:400px;
      width: 600px;
      padding: 50px 50px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
    }
    .groupworkout{
      height:400px;
      width: 600px;
      padding: 50px 50px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    .allcommunity{
      display: flex;
      background-color: rgb(118, 178, 207);
    }
    .group{
      background-color: rgb(118, 178, 207);
      max-width: 100%;
    }

    .greatcoaching{
      height:400px;
      width: 600px;
      padding: 50px 50px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    .allcommunityy{
      display: flex;
      margin-top: 20px;
     
    }

    .register{
      
      background-color:rgb(215, 42, 42);
      max-width: 100%;
      height:400px;
      
      padding: 50px 50px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      
    }
    .registry{
      font-size: 50px;
      color: white;
    }
    .registerperson{
      font-size: 30px;
      color: white;
      padding-top: 20px;
    }
    .completeregistry{
      font-size: 25px;
      color: white;
      display: inline-block;
      padding-top: 20px;
      margin-left: 30px;
    }
    .reg{
      display: inline-block;
      margin-left: 40px;
      
      padding: 50px 50px;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    .ul{
      font-size: 25px;
    }
    .questions{
      font-size: 60px;
      font-weight: bolder;
    }
    .formdetail{
      padding: 50px 50px;
      margin-left: 40px;
    }
   
    

  
  