  .service{
    display: flex;
    color:white;
    
  }

  .fitnessheader{
    text-align: center;
    font-size: 70px;
    color: white;
  }
  .Serve{
    background-color: black;
  }
  .headings{
    justify-content: center;
    padding:10px ;
  }