.helpbutton{
    border-radius: 40%;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.customerservice{
    height:400px;
    width: 600px;
    padding: 50px 100px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }